<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>submited</title>
</head>
<body>
    <h2>Welcome, <strong><%= name %></strong>! 🎉</h2>
    <p>You have successfully submitted the form. Would you like to see all submissions?</p>
    <a href="http://localhost:3000/submissions">View Submissions</a>
</body>
</html>